:root {
  --color: #fff;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
.wrap {
  padding: 8px;
}
.section {
  width: 100%;
  height: 70vh;
  background: #e8e4e4;
  margin-bottom: 10px;
  overflow-x: hidden;
  padding: 8px;
  .msg {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    &.right {
      flex-direction: row-reverse;
      img {
        margin-left: 10px;
      }
    }
    &.left {
      img {
        margin-right: 10px;
      }
    }
  }
  img {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
  }
  span {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    padding: 10px 12px;
  }
}
// 其它
.msg {
  span {
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 8px solid transparent;
      position: absolute;
      top: 20px;
      z-index: 1;
    }
  }
  &.left {
    span {
      &::after {
        left: -15px;
        border-right-color: var(--color);
      }
    }
  }
  &.right {
    span {
      &::after {
        right: -15px;
        border-left-color: var(--color);
      }
    }
  }
}
.send {
  width: 100%;
  min-height: 22vh;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-indent: 0.5em;
}